extends ../../layout.jade
block contenido
    div(class="container")
        h1 Mis Imagenes
        .white.border.tr.large-padding
                .row
                    .col-md-2
                        p Nombre
                     .col-md-2
                        p Apellido
                    .col-md-2
                        p Direccion
                    .col-md-2
                        p Telefono
                    .col-md-2
                        p Fecha Nacimiento
                    .col-md-2
                        p Grado

        for student in students
            .white.border.tr.large-padding  
                .row
                    .col-md-2
                        h4=student.name
                    .col-md-2
                        h4=student.last_name 
                    .col-md-2
                        h4=student.address
                    .col-md-2
                        h4=student.phone 
                    .col-md-2
                        h4=student.birthdate
                    .col-md-2
                        h4=student.grade


                    .col-md-3
                        
        br
        a(href="/app/students/new", class="btn btn-primary") Nuevo Estudiante
